<div class="player panel panel-default">
  <div class="player-name panel-header">
    <%= player&.name %>
  </div>
  <div class="player-bet panel-content">
    <%= "Bet: #{player.bet}" if player && !player.dealer? %>
  </div>
  <div class="player-cards panel-content">
    <% player&.cards&.each do |card| %>
      <% if card.show || current_user.id == player.id || player.dealer? %>
        <div class="card">
          <%= card.suit %>
          <%= card.rank %>
        </div>
      <% else %>
        <div class="card">
          **HIDDEN
          **HIDDEN
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="player-points panel-content">
      <%= button_to "Sit Here", user_games_path(seat_id: seat_id), method: :post, class: "btn btn-default" if player.nil? %>
  </div>
</div>
