<% hidden = player == nil %>
<div class="<%="player_#{seat_id}"%> list-group h-100" style="display: <%= hidden ? 'none' : 'block' %>;">
  <div class="player-title list-group-item list-group-item-warning d-flex justify-content-between">
    <div class="player-name"><%= player&.nickname || "Empty" %></div>
    <div class="player-bet"><%= "Bet: #{player&.bet || 0}" %></div>
  </div>
  <div class="list-group-item h-90 p-1">
    <div class="player-cards d-flex">
      <% player&.decorate_cards&.each_with_index do |card, idx| %>
        <div class="<%="card_#{idx}"%>" style="margin-left: <%= idx == 0 ? '0px' : '5px' %>;">
          <% if idx == 0 && current_user&.id != player.id && (!ENV['DEBUG'] && @game.started?) %>
            <%= card.hidden_icon %>
          <% else %>
            <%= card.to_s %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @game.pending? %>
      <% if player&.current_user? %>
        <div>
          <%= button_to "Leave", user_game_path(player, user_id: player.user_id), method: :delete, class: "btn btn-default btn-block", data: { confirm: 'Are you sure?' } %>
        </div>
      <% else %>
        <div class="h-100"> Ready </div>
      <% end %>
    <% elsif @game.started? %>
      <% if @wait_for_seat_id == seat_id && player&.current_user? %>
        <div class="btn-group-justified d-flex w-100">
          <%= button_to "Call", user_game_path(player, user_id: player.user_id, action_type: 'call'), method: :patch, class: "btn btn-default w-100 me-2" %>
          <%= button_to "Pass", user_game_path(player, user_id: player.user_id, action_type: 'pass'), method: :patch, class: "btn btn-default w-100 me-2" %>
        </div>
      <% end %>
      <% show_waiting = @wait_for_seat_id == seat_id && !player&.current_user? %>
      <div class="player-waiting" style="display: <%= show_waiting ? 'block' : 'none' %>"> Thinking... </div>
    <% elsif @game.finished? %>
      <div>
        <%= "#{player&.status&.upcase} (#{player&.score})" %>
        <% case player&.status %>
        <% when "win" %>
          <span class="badge badge-success"><%="+#{player&.bet}"%></span>
        <% when "draw" %>
          <span class="badge badge-warning">0</span>
        <% when "lose" %>
          <span class="badge badge-danger"><%="-#{player&.bet}"%></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if @current_user_seat_id == nil && @game.status == "pending" %>
  <div class="<%="sit_#{seat_id}"%>">
    <%= link_to "Sit Here", new_user_game_path({seat_id: seat_id}), class: "btn btn-default btn-block", remote: true if player.nil? %>
  </div>
<% end %>
